
services:
  
  db:
    image: postgres:15-alpine
    container_name: secure_vault_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: secure_vault
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
  
volumes:
  pg_data: